<body>
    <header>
        <div class="headerLeftDiv">       
            <a class="headerLogo" onclick="location.href='/';">Festivaalit</a>
        </div>
        <div class="headerCenterDiv">

        </div>
        <div class="headerRightDiv">
            <div><a href="/festarit">Festivaalit</a></div>
            <div><a href="/artistit">Artistit</a></div>
        </div>
    </header>